<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyMediaCollection.Properties.Settings.ConnectionString"
            connectionString="C:\Users\dross\AppData\Local\Microsoft\VisualStudio\SSDT\MyMediaCollection\MyMediaCollectionDb.mdf"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>